modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
HUKUPLUS_URL = "https://loan-manager-automate.replit.app"
REVOLVER_URL = "https://credit-facility-manager.replit.app"
CHIKWERETION_URL = "https://loan-mastermind--cz86dbq6qp.replit.app"
CENTRAL_API_KEY = "CENTRAL_DD1D709C6E4708C877D5DB07DC9C71BBE15439747780FBF26996A3BCDC9AA56D"
HUKUPLUS_API_URL = "https://loan-manager-automate.replit.app"
HUKUPLUS_API_KEY = "CENTRAL_DD1D709C6E4708C877D5DB07DC9C71BBE15439747780FBF26996A3BCDC9AA56D"
APP_URL = "https://huku-plus-central.replit.app"
FORMITIZE_IMPORT_KEY = "0a5b01da67b7739697bda0f6b7824a97"
EMAIL_SMTP_HOST = "smtp.gmail.com"
EMAIL_SMTP_PORT = "587"
EMAIL_SMTP_USER = "operations@marishoma.com"
WATI_API_URL = "https://live-mt-server.wati.io/10123607"

[nix]
channel = "stable-25_05"
